doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Signup Page
  link(rel='stylesheet' href='/js/signup.css')
.signup-box1
  .container-fluid
    .row
      .col .
      .col
        .signup-box
          form(action='./landingpage.html' onsubmit='return Validate();' method='get')
            h1 Signup
            div
              label(for='username') Username:
              input#Username(type='text' name='username' placeholder='Enter your username')
              small#usernameErr
            div
              label(for='email') Email:
              input#email(type='email' name='email' placeholder='Enter your email')
            div
              label(for='password') Password:
              input#password(type='password' name='password' placeholder='Enter your password')
            div
              label(for='confirm_password') Confirm Password:
              input#confirm_password(type='password' name='confirm_password' placeholder='Confirm your password')
              small#usernameErr1
            button(type='submit') submit
      .col .
script(src='./jsme/validation.js')
